.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
}

.advatages__box {
        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
      }
      }

.advantages__list {
    max-width: 450px;
    text-align: center; 

    @media screen and (min-width: 768px) {
        max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 270px;
    }
}


.advantages__icon {
    display: block;
    padding: 25px 100px;
    background-color: var(--accent-background-color);
    margin-bottom: 30px;
}

.advatages__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: start;;
    }
    @media screen and (min-width: 1200px) {
        text-align: start;;
    }
}

.advatages__text {
    font-weight: 400;
    line-height: 1.7;
}