:root {
    --text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --aktiv-color: #188ce8;
    --footer-color: #2f303a;
    --background-color: #ffffff;
    --accent-background-color: #f5f4fa;
    --conteiner-color: #eeeeee;
    --logo-color: black;
    --social-icon-color: #AFB1B8;
    --anim-icon: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}